<div>
  <%= f.text_field :first_name, placeholder: "First Name" %><br><br>
</div>
<div>
  <%= f.text_field :last_name, placeholder: "Last Name" %><br><br>
</div>
 <div>
  <%= f.label :user_avatar %><br>
  <%= f.file_field :user_avatar %><br><br>
</div>
 <div>
  <%= f.text_field :remote_user_avatar_url, placeholder: "Web URL for Picture" %>
</div>