<a href="#footer"><h1 id="top" >Hello <%= @user.first_name%></h1></a>


<div class="module">
    <% if @user.user_avatar.present? %>
    <%= link_to image_tag(@user.user_avatar.url, height: '60', width: '60'), @user.user_avatar.detail.url %>
    <% else %>
    <%= link_to image_tag("log_out.jpg", height: '60', width: '60') %>
    <% end %>
 
  <div>
    <%= link_to "Edit Profile", edit_user_path  %><br>
    <%= link_to "Edit Password", edit_user_registration_path %><br>
    <%= link_to "Log out", destroy_user_session_path, method: :delete %><br><br>
  </div>  

  <div>
    <%= link_to 'Add New Album', new_album_path, class: 'button' %>
    <%= link_to 'Add New Comic', new_comic_path, class: 'button'  %>
  </div>
</div>

  <% @user.comics.each do |comic| %>
  <p>
    <div class="album_container"> 

      <% if comic.comic_image.present? %>
      <%= link_to image_tag(comic.comic_image.url, height: '160', width: '110', class: "album_float_left"), comic %><br>
      <% else %>
      <%= link_to image_tag("no_comic_cover.jpg", height: '160', width: '110', class: "album_float_left"), comic %><br>
      <% end %>
  </p>

    <div class="album_float_right">
     <strong><%= comic.name %></strong><br>
     issue #<%= comic.issue_number %><br><br>
     <%= link_to 'Edit', edit_comic_path(comic) if can? :edit, comic %>
     <%= link_to 'Destroy', comic, method: :delete, data: { confirm: 'Are you sure?' } if can?(:destroy, comic)%>
     </div>
    </div>
  <% end %>

  <% @user.albums.each do |album| %>
    <p> 
      <div class="album_container"> 

        <% if album.album_image.present? %>
        <%= link_to image_tag(album.album_image.url, height: '110', width: '110', height: '110', width: '110', class: "album_float_left"), album %><br>
        <% else %>
        <%= link_to image_tag("no_album_cover.jpg", height: '110', width: '110', class: "album_float_left"), album %><br>
        <% end %>    
      </p>

      <div class="album_float_right">
        <strong><%= album.name %></strong> <br>
        <%= album.comics.size %> items<br><br>
        <%= link_to 'Edit', edit_album_path(album) if can? :edit, album %>
        <%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } if can?(:destroy, album)%>
      </div>
    </div>
  <% end %>
 








