<%= form_for(@comic) do |f| %>
  <% if @comic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comic.errors.count, "error") %> prohibited this comic from being saved:</h2>

      <ul>
      <% @comic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %><br>
  </div>
  <div class="field">
    <%= f.text_field :bubble_name, placeholder: "Alias for Character" %><br>
  </div>
  <div>
    <%= f.number_field :bubble_number, placeholder: "Bubble Number" %><br>
  </div>
  <div class="field">
    <%= f.text_field :comic_heading, placeholder: "Subject of Comic" %><br>
  </div>
  <div class="field">
    <%= f.text_area :description, placeholder: "Description of collection" %><br>
  </div>
  <div>
    <%= f.number_field :issue_number, placeholder: "issue number" %><br>
  </div>
  <div class="field">
    <%= f.label :comic_image %>
    <%= f.file_field :comic_image %><br>
  </div>
  <div class="field">
    <%= f.text_field :remote_comic_image_url, placeholder: "Web URL for Cover" %><br>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
