<%= link_to image_tag("back.png", height: '30', width: '30', class: "back"), @comic.album %> 
<!-- album_path(@album, album[:album_id]) -->
<h1> <%= @comic.name %></h1>  



<div class="comic_container">
  <div class="album_float_right">
    <strong><%= @comic.comic_heading %></strong><br>
    <%= @comic.description %><br>
  </div>

  <div class="album_float_left">
      <% if @comic.comic_image.present? %>
      <%= image_tag(@comic.comic_image.url, height: '230', width: '175') %><br>
      <% else %>
      <%= image_tag("no_comic_cover.jpg", height: '230', width: '175') %><br>
      <strong><%= @comic.name %></strong><br>
      issue #<%= @comic.issue_number  %><br>
      <% end %>
    </end>
  </div>
</div>





