

<p>
  <!-- <strong>Name:</strong> -->
  <%= @comic.name %><br>
  <%= @comic.description %><br>
  <%= comic.issue_number %>
  <%= link_to image_tag(@comic.comic_image.thumb.url), @comic.comic_image.detail.url %>
</p>




<%= link_to 'Back', user_path(current_user)  %>
