

<p>
  <!-- <strong>Name:</strong> -->
  <%= @comic.name %><br>
  <%= @comic.description %><br>
  <% if @comic.comic_image.present? %>
  <%= link_to image_tag(@comic.comic_image.url, height: '160', width: '105'), @comic %><br>
  <% else %>
  <%= link_to image_tag("no_photo_small.jpg", height: '160', width: '105'), @comic %><br>
  <% end %>
  issue #<%= @comic.issue_number %><br>
</p>




<%= link_to 'Back', user_path(current_user)  %>
