
<div class="container">
     <a href><%= link_to "Character", character_path,  class: "slide_page" %></a>
<h1>BROWSE</h1>


<nav>
  <ul>
    <li><%= link_to 'Issue', issue_path %></li>
    <li><%= link_to 'Character', character_path %></li>
    <li><%= link_to 'movie', movie_path %></li>
    <li><%= link_to 'volume', volume_path %></li>
  </ul>
</nav>

<form action="/search" method="get">
  <input name="search" type="search"> 

  <input name="volumes" type="checkbox" value="volumes">Volume 
  <input name="movies" type="checkbox" value="movies">Movies 
  <input name="characters" type="checkbox" value="characters">Characters 
  <input name="issues" type="checkbox" value="issues">Issue 
  <input value="Search" type="submit">
</form>

<% if @results %>
<% @results.each do |result| %>
<p>
  <%= result.name %>

  <%#= result.description.try(:html_safe) %><br>
  <% if result.image.present? %>
  <%= image_tag(result.image["small_url"], height: '160', width: '110')  %><br>
  <% else %>
  <%= image_tag("no_comic_cover.jpg", height: '160', width: '110')   %><br>
  <% end %>
  <!-- issue # --> <%#= result.first_appeared_in_issue.try :issue_number %><br>
</p>
<% end %>
<% end %>


</div>


