<header class="top">
<h1>DISCOVER</h1>
</header>


<% @albums.each do |album| %>
  <p>
    <!-- <strong>Name:</strong> -->
    <%= album.comics.size %> items<br>
    <%= link_to album.name, album %><br>
    <%= link_to album.heading %><br>
    <% if album.album_image.present? %>
    <%= link_to image_tag(album.album_image.url, height: '110', width: '110'), album %><br>
    <% else %>
    <%= link_to image_tag("no_photo_small.jpg", height: '110', width: '110'), album %><br>
    <% end %>
  </p>
  <% end %>