<header>
  <%= image_tag("comic_bubble_logo.png", width: '250') %>
  <%= form_tag root_path, method: :get do %>
    <%= collection_select :user, :id, User.all, :id, :name, {prompt: 'pick a user', include_blank: true}, {name: :user_id} %>
    <%= button_tag 'go' %>
  <% end %>

</header>


  <div id="vis" data-user-id='<%= @user.try(:id) %>'></div>
  <!-- <div id="status"></div> --> <!--this tells which bubble is selected -->
  <!-- <div id="controls"> -->
  
        </div>
   
