<%= link_to image_tag("back.png", height: '30', width: '30', class: "back"), discover_path %>
<a href="#footer"><h1> <%= @album.name %></h1></a>


<p>
  <% if @album.album_image.present? %>
  <%= image_tag(@album.album_image.url, height: '400', width: '1000', class: "album_splash") %>
  <% else %>
  <%= image_tag("no_album_splash.jpg", height: '300', width: '1000', class: "album_splash") %>
  <% end %>
</p>

<div class="album_blurb">
  <strong><p class="album_title"><%= @album.name %></strong></p>
  <p>
    <%= @album.description %><br><br>
  </p>
</div>

<p class="album_heading">
  <strong><%= @album.heading %></strong><br>
</p>





<% @album.comics.each do |comic| %>
  <div class="comic_container">
    <div>
    <% if comic.comic_image.present? %>
      <%= link_to image_tag(comic.comic_image.url, height: '160', width: '105', class: "comic_float_left"), comic %>
      <% else %>
      <%= link_to image_tag("no_comic_cover.jpg", height: '160', width: '105', class: "comic_float_left"), comic %>
      <% end %>
      <strong><%= comic.comic_heading %></strong>
      <br>
      <%= comic.description %>  
    </div>

    <div class="comic_float_right clearLeft">
      <strong><%= comic.name %></strong><br>
      issue # <%= comic.issue_number  %><br>
      <br>
      <br>
    </div>
  </div>
<% end %>







