
<p>
  <%= @album.name %><br>
  <%= @album.title %><br>

  <% if @album.album_image.present? %>
  <%= link_to image_tag(@album.album_image.url, height: '300', width: '500'), @album %><br>
  <% else %>
  <%= link_to image_tag("no_album_splash.jpg", height: '300', width: '500'), @album %><br>
  <% end %>

  <%= @album.name %><br>
  <%= @album.description %><br><br>
  <%= @album.heading %><br>
</p>





<% @album.comics.each do |comic| %>
<p>
  <!-- <strong>Name:</strong> -->
  <%= link_to comic.name, comic %><br>
  <%= comic.description %><br>


  <% if comic.comic_image.present? %>
  <%= link_to image_tag(comic.comic_image.url, height: '160', width: '105'), comic %><br>
  <% else %>
  <%= link_to image_tag("no_comic_cover.jpg", height: '160', width: '105'), comic %><br>
  <% end %>
  issue #<%= comic.issue_number %><br>
</p>
<% end %>

<%= link_to 'Back', user_path(current_user)  %>

