<h1>LOG IN</h1>

<div class="module">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %><br>

  <div class="field">
    <%= f.email_field :email, autofocus: true, placeholder: "email" %><br>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
  </div>

  <% if devise_mapping.rememberable? -%><br>
    <div class="field">
      <%= f.check_box :remember_me, class: 'remember me', data: {tooltip1: 'remember me'}  %><br>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>


<nav id="menu">
  <ul class="clearnav">
    <li>
      <%= link_to image_tag("facebook.jpg", height: '50', width: '50' ), user_omniauth_authorize_path(:facebook), class: 'fb_login', data: {tooltip: 'fb_login'} %>
    </li>
  </ul>
</nav>

<%= render "devise/shared/links" %>
</div>

