<header>
  <nav>
    <ul>
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'Discover', discover_path %></li>
      <li><%= link_to 'Browse', browse_path %></li>
      <% if current_user %>
        <li><%= link_to "Profile", user_path(current_user) %></li>
      <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
       
      <% end %>
    </ul>
  </nav>
</header>