<!DOCTYPE html>
<html>
  <head>
    <title>Comic Bubble</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>

    </main>
   <footer id='footer'>
      <%= render 'layouts/navigation' %>
    </footer>
    <%= javascript_include_tag 'application' %>
    <script src="https://connect.facebook.net/en_US/all.js"></script>
  </body>
</html>
